# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

      *
      'hello'
      -87.8
      -
      /
         +
      6

In [10]:
Operators: *,-,+,/
Value: 'hello', -87.8, 6

SyntaxError: invalid syntax (4039216449.py, line 1)

# 2. What is the difference between string and variable?

In [ ]:
String :- A string is a data type used to represent text.
          It is a sequence of characters enclosed in quotes(" ",' ').
Example: 
          "Hello, world!"
          'Python123'

Variable :- A variable is a name used to store data.
            You use variable to store data like number,string,list etc.
Example:
           name = "Anjali"
           X = 5

# 3. Describe three different data types.

In [ ]:
1. Integer - Represents whole numbers.
           (e.g- 5,-25 )
    
2. Float - Represents decimal numbers.
           (e.g- -3.14,-0.0001)

3. String - Represents sequence of characters.
            (e.g- "hello")

# 4. What is an expression made up of? What do all expressions do?

In [ ]:
An expression is a combination of values and operators. 
All expressions evaluate to a single value.

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [ ]:
An expression evaluate to a value.
A statement is an instruction that the python interpreter can execute.

# 6. After running the following code, what does the variable becon contain?
      bacon = 22
      bacon + 1

In [3]:
bacon = 22
bacon + 1
print(bacon + 1)
bacon = bacon +  1

23

# 7. What should the values of the following two terms be?
     'spam' + 'spamspam'
     'spam'*3

In [ ]:
Both expression evaluate to the string 'spamspamspam'.

# 8. Why is egg a valid variable name while 100 is invalid?

In [ ]:
Variable names cannot begin with a number.

# 9. What three function can be used to get the integer, floating-point number, or string version of a value?

In [ ]:
The int(), float(), and str() functions will evaluate to the integer,floating-point number,and string version of the value passed to
them.

# 10. Why does this expression cause an error? How can you fix it?
     'I have eaten'+ 99 +'burritos'.

In [ ]:
'I have eaten' is a string,
99 is an integer,
'burritos' is a string.
 We can not combine a string and a number directly using +.

'I have eaten'+ str(99)+'burritos'.
'I have eaten 99 burritos'.